
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(61, 26, 26);
    color: #fff;
}

body{
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#grid{
    display: flex;
    width: 400px;
    height: 300px;
    flex-wrap: wrap;
}


.exit{
    width: 15vw;
    height: 5vh;
    margin-top: 2vh;
}

a{
    text-decoration: none;
}

.restart{
    width: 15vw;
    height: 5vh;
    margin-top: 2vh;
}

@media screen and (max-width: 480px)
{  
    #grid{
        display: flex;
        width: 300px;
        height: 225px;
        flex-wrap: wrap;
    }
    .restart{
        width: 25vw;
        height: 5vh;
        margin-top: 25vh;
    }
    .exit{
        width: 25vw;
        height: 5vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

}


@media screen and (max-width: 350px)
{  
    #grid{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 260px;
        height: 195px;
        flex-wrap: wrap;
    }
    .restart{
        width: 25vw;
        height: 5vh;
        margin-top: 50vh;
    }
    .exit{
        width: 25vw;
        height: 5vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

}
